@page
@model InstrumentViewer.WebApp.Pages.InstrumentInfoModel
@{
}

<h1>@Model.Instrument.Name</h1>
<h2>Slots: @Model.Instrument.Slots</h2>
<h2>Price: @Model.Instrument.Price</h2>
<h2>RealseDate: @Model.Instrument.RealseDate</h2>

